<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="<%= root_path %>">
    <img src="https://ideaware.co/wp-content/uploads/2018/02/Logosimbolo-Ideaware-azul-01-700x543.png" width="35" height="25" class="d-inline-block align-top" alt="">
    IdeaGallery
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Photos", photos_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Random", photos_random_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Favorites", photos_favorites_path, class: 'nav-link' %>
      </li>
    </ul>
    <%= form_with url: search_path, method: :get, local: true, class: 'form-inline my-2 my-lg-0' do |form| %>
      <%= form.search_field :query, size: 30, placeholder: 'Search...', class: 'form-control mr-sm-2' %>
      <%= form.submit 'Search', class: 'btn btn-outline-info my-2 my-sm-0' %>
    <% end %>
  </div>
</nav>